.grid-container {
  background-color: #1d1e1e;

  display: flex;
  min-height: 85rem;
  /* height: 100%; */
  margin: auto;
  overflow: hidden;
  overflow-y: scroll;
  @media (min-width: 65rem) {
    max-width: 65rem;
  }
}

.art-grid-1 {
  display: grid;
  width: 100%;
  @media (min-width: 49rem) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(24, 1fr);
    grid-gap: 0px;
    grid-template-areas:
      'tree tree soulSearching soulSearching soulSearching fish  '
      'tree tree soulSearching soulSearching soulSearching fish  '
      'tree tree soulSearching soulSearching soulSearching fish  '
      'tree tree soulSearching soulSearching soulSearching city  '
      'tree tree shell spiral spiral city  '
      'tree tree shell spiral spiral city   '
      'tree tree shell spiral spiral city   '
      'untitled untitled untitled spiral spiral kite  '
      'untitled untitled untitled spiral spiral kite  '
      'untitled untitled untitled spiral spiral kite  '
      'untitled untitled untitled bridge self self  '
      'untitled untitled untitled bridge self self  '
      'untitled untitled untitled bridge self self  '
      'untitled untitled untitled turtle self self  '
      'desk arm arm turtle self self   '
      'desk arm arm turtle self self  '
      'desk arm arm moon moon moon'
      'existence arm arm moon moon moon'
      'existence arm arm moon moon moon'
      'existence raySelf raySelf moon moon moon'
      'searchin raySelf raySelf moon moon moon'
      'searchin raySelf raySelf moon moon moon'
      'searchin raySelf raySelf moon moon moon'
      '. . . moon moon moon';
    /* 'raySelf raySelf raySelf . . .'
      'raySelf raySelf raySelf . . .'
      'raySelf raySelf raySelf . . .'
      'raySelf raySelf raySelf . . .'
      'raySelf raySelf raySelf . . .'; */
    /* 'raySelf raySelf raySelf raySelf . .'; */
  }

  @media (max-width: 49rem) {
    max-width: 33rem;
    margin-left: auto;
    margin-right: auto;
    /* justify-items: center; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(7, 1fr); */
    grid-gap: 0.5rem;
    grid-template-areas:
      'soulSearching soulSearching soulSearching soulSearching '
      'soulSearching soulSearching soulSearching soulSearching '
      'tree tree kite desk '
      'tree tree fish fish '
      'tree tree fish fish '
      'self self city city   '
      'self self  city city '
      'moon moon city city'
      'moon moon arm bridge '
      'shell shell shell turtle  '
      'shell shell shell turtle '
      'shell shell shell ray '
      'shell shell shell ray ';
  }
}

.tree {
  grid-area: tree;
}

.spiral {
  grid-area: spiral;
}

.soulSearching {
  grid-area: soulSearching;
}
.moon {
  grid-area: moon;
}
.fish {
  grid-area: fish;
}
.untitled {
  grid-area: untitled;
}
.desk {
  grid-area: desk;
}
.self {
  grid-area: self;
}
.shell {
  grid-area: shell;
}
.city {
  grid-area: city;
}
.bridge {
  grid-area: bridge;
}
.arm {
  grid-area: arm;
}
.kite {
  grid-area: kite;
}

.existence {
  grid-area: existence;
}
.searchin {
  grid-area: searchin;
}
.turtle {
  grid-area: turtle;
}

/* .ray {
  grid-area: ray;
} */

.raySelf {
  grid-area: raySelf;
}
