.container {
  color: #2c3e50;
}

.container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  background-image: url('/pics/self.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.enter {
  margin-top: 3rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border: 1px solid grey;
  padding: 1rem;
  width: 20rem;
}

.enter:hover {
  opacity: 0.5;
}

.white::after {
  content: '';
  width: 100%;
  opacity: 0.9;
  position: absolute;
  background-color: white;
  height: 100%;
  z-index: -1;
}

@media only screen and (max-width: 599px) {
  .container {
    h1 {
      font-size: 2rem;
      font-weight: bold;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .container::after {
    background-image: url('/pics/tree.png');
    background-position: center;
  }

  .white {
    color: #f0feff;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .white::after {
    background-color: black;
    opacity: 0.75;
  }

  .enter {
    margin-top: 1.25rem;
    background-color: white;
    color: rgba(0, 0, 0, 0.7);
  }

  .enter:hover {
    opacity: 0.5;
  }
}

@keyframes slide-down-out {
  from {
    opacity: 1;
    top: 0;
  }
  to {
    opacity: 1;
    top: -100vh;
  }
}

::view-transition-old(.no-fade) {
  opacity: 1;
}

::view-transition-new(.no-fade) {
  opacity: 1;
}

::view-transition-new(.slide-out) {
  animation: 1s ease-in both slide-down-out;
  opacity: 1;
}

::view-transition-old(.slide-out) {
  animation: 1s ease-in both slide-down-out;
  opacity: 1;
}

::view-transition-group(.pulse) {
  animation: smoothTransform 1s ease;
  opacity: 1;
}
